<div class="student-selection">
  <mat-form-field >
    <mat-select placeholder="Select" [(ngModel)]="currentSkill.studentId" (selectionChange)="changeUser()">
      <mat-option *ngFor="let student of students" [value]="student.id">{{student.firstName}} {{student.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="addSkill">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="currentSkill.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" min="1" max="10" placeholder="Coefficient" [(ngModel)]="currentSkill.coef">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" min="0" max="20" placeholder="Contrôle continue" [(ngModel)]="currentSkill.cc">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" min="0" max="20" placeholder="exam" [(ngModel)]="currentSkill.exam">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addSkill()">Ajouter</button>

</div>



<table *ngIf="current" mat-table [dataSource]="current" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="coef">
    <th mat-header-cell *matHeaderCellDef> Coef </th>
    <td mat-cell *matCellDef="let element"> {{element.coef}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cc">
    <th mat-header-cell *matHeaderCellDef> CC</th>
    <td mat-cell *matCellDef="let element"> {{element.cc}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="exam">
    <th mat-header-cell *matHeaderCellDef> Exam </th>
    <td mat-cell *matCellDef="let element"> {{element.exam}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
